<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18675576484-565t4bs4cl22lkfb30kd9gj7ihu8vehc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18675576484-565t4bs4cl22lkfb30kd9gj7ihu8vehc</string>
	<key>API_KEY</key>
	<string>AIzaSyB3OY4oYDq3xbnSjm8fv1mLrKh7Wflecyg</string>
	<key>GCM_SENDER_ID</key>
	<string>18675576484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23b7l-5717a</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23b7l-5717a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18675576484:ios:5938ff5564351e9694c031</string>
</dict>
</plist>